{% extends 'base.html' %}

{% block title %} Ro'yxatdan o'tish {% endblock %}

{% block background_image %}
    background-image: url('https://main-cdn.sbermegamarket.ru/big2/hlr-system/336/727/891/322/111/4/100043174544b0.png');
{% endblock %}

{% block content %}
     <div style="opacity: 90%;" class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Ro'yxatdan o'tish</h4>
        </div>

        <div class="card-body">
            <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}
                        <div>{{ field }}</div>
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text | safe }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}

                <button class="btn btn-primary mb-20 rounded-pill" type="submit">Yuborish</button>
            </form>
        </div>

      </div>
         <a class="btn btn-warning mt-3 ms-3 rounded-start-pill" href="../login/">
            <i class="bi bi-backspace"></i> Ortga
         </a>
    </div>
{% endblock %}