{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Bugungi Vazifalar {% endblock %}

{% block background_image %}
    background-image: url('https://i.pinimg.com/originals/93/2b/1c/932b1cfe878be866cf3b413ca9395266.jpg');
{% endblock %}

{% block content %}
    <nav class="shadow navbar navbar-expand-lg text-primary-emphasis">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'to_do' %}">
            <img style="width: 40px; height: auto;" src="https://avatars.dzeninfra.ru/get-zen-logos/1597769/pub_62730f844015cd0dfeac9904_6288a204a70c7938bb2d4a31/xxh" alt="ToDo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'to_do' %}">Bugungi Vazifalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'all_todos' %}">Barcha Vazifalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Vazifa yaratish</a>
            </li>
          </ul>

          <button id="themeToggle" class="btn btn-dark">
              <i id="themeIcon" class="fa-solid fa-moon"></i>
          </button>

          <a href="{% url 'logout' %}" class="btn btn-danger ms-1 rounded-end-circle" data-bs-toggle="tooltip" data-bs-placement="left" title="Tizimdan chiqish">
            <i class="bi bi-box-arrow-right"></i>
          </a>

        </div>
      </div>
    </nav>

    <div style="opacity: 85%" class="container mt-5">
          <div class="card">
            <div class="card-header">
              <h4>Barcha Vazifalaringiz Ro'yxati</h4>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-numbered mt-5">
                {% for todo in all_todos %}

                <li class="list-group-item d-flex justify-content-between align-items-start">

                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        {{ todo.body }}
<!--                        {{ tod.body|truncatechars:18 }}-->
                    </div>
                    {{ todo.created_at|date:'d.m.Y H:i' }}
                  </div>

                    <div class="d-flex flex-wrap gap-2">
                        <!-- Katta ekranda ko‘rinadigan tugmalar -->
                        <a href="{% url 'todo_detail' todo.id %}" class="btn btn-info d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Batafsil">
                          <i class="bi bi-search"></i>
                        </a>

                        <a methods="post" href="{% url 'edit' todo.id 'none' %}" class="btn btn-warning d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top"  title="Taxrirlash">
                            <i class="bi bi-pencil-fill"></i>
                        </a>

                        <form action="{% url 'action' todo.id 'delete' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top"  title="O'chirish">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>

                        <!-- Telefon ekranda ko‘rinadigan dropdown -->
                        <div class="dropdown d-sm-none">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a style="color: #0dcaf0;" href="{% url 'todo_detail' todo.id %}" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="top" title="Batafsil">
                                        Batafsil
                                    </a>
                                </li>

                                <li>
                                    <a style="color: orange;" methods="post" href="{% url 'edit' todo.id 'none' %}" class="dropdown-item">
                                        Taxrirlash
                                    </a>
                                </li>
                                <li>
                                    <form action="{% url 'action' todo.id 'delete' %}" method="post">
                                    {% csrf_token %}
                                        <button style="color: #ff1900;" class="dropdown-item">
                                            O'chirish
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>
              {% empty %}
                <p class="form-label">Ayni vaqtda vazifalar ro'yxati bo'sh.</p>
              {% endfor %}
          </ul>

        </div>
      </div>
        <div class="text-center mt-3">
            {% include 'paginator.html' %}
        </div>

    </div>

{% endblock %}