{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Vazifa yaratish {% endblock %}

{% block background_image %}
    background-image: url('https://i.pinimg.com/originals/fa/6b/0f/fa6b0ff05108c57c9211845ceb73e097.jpg');
{% endblock %}

{% block content %}
    <nav class="shadow navbar navbar-expand-lg text-primary-emphasis">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'to_do' %}">
            <img style="width: 40px; height: auto;" src="https://avatars.dzeninfra.ru/get-zen-logos/1597769/pub_62730f844015cd0dfeac9904_6288a204a70c7938bb2d4a31/xxh" alt="ToDo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'to_do' %}">Bugungi Vazifalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'all_todos' %}">Barcha Vazifalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Vazifa yaratish</a>
            </li>
          </ul>

          <button id="themeToggle" class="btn btn-dark">
              <i id="themeIcon" class="fa-solid fa-moon"></i>
          </button>

          <a href="{% url 'logout' %}" class="btn btn-danger ms-1 rounded-end-circle" data-bs-toggle="tooltip" data-bs-placement="left" title="Tizimdan chiqish">
            <i class="bi bi-box-arrow-right"></i>
          </a>

        </div>
      </div>
    </nav>

    <div style="opacity: 85%" class="container mt-5">
      <div class="card">
        <div class="card-body">
            <form id="todo-form" method="post" action="{% url 'create' %}">
              {% csrf_token %}
                <label for="todo-body" class="form-label fw-bold">Yangi Vazifa Nomi:</label>
                <input type="text" id="todo-body" name="body" class="form-control" placeholder="Keling yangi vazifa yaratamiz!" aria-label="Keling yangi vazifa yaratamiz!" aria-describedby="button-addon2" required>

                <p class="form-label fw-bold mt-2">Takrorlanish kunlari:</p>
                  <div id="repeat-days" class="container mt-3">
                    <div class="row">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="selectAll"> Har kuni
                        </label>
                        <br><br>
                        <div class="">
                            <div class="form-check">
                                <input class="form-check-input dayCheckbox" type="checkbox" id="monday" name="repeat_days" value="0">
                                <label class="form-check-label" for="monday">Dushanba</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-check">
                                <input class="form-check-input dayCheckbox" type="checkbox" id="tuesday" name="repeat_days" value="1">
                                <label class="form-check-label" for="tuesday">Seshanba</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-check">
                                <input class="form-check-input dayCheckbox" type="checkbox" id="wednesday" name="repeat_days" value="2">
                                <label class="form-check-label" for="wednesday">Chorshanba</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-check">
                                <input class="form-check-input dayCheckbox" type="checkbox" id="thursday" name="repeat_days" value="3">
                                <label class="form-check-label" for="thursday">Payshanba</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-check">
                                <input class="form-check-input dayCheckbox" type="checkbox" id="friday" name="repeat_days" value="4">
                                <label class="form-check-label" for="friday">Juma</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-check">
                                <input class="form-check-input dayCheckbox" type="checkbox" id="saturday" name="repeat_days" value="5">
                                <label class="form-check-label" for="saturday">Shanba</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-check">
                                <input class="form-check-input dayCheckbox" type="checkbox" id="sunday" name="repeat_days" value="6">
                                <label class="form-check-label" for="sunday">Yakshanba</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                  <button class="btn btn-success mt-3" type="submit" id="button-addon2">Vazifani qo'shish</button>
                </div>
            </form>
        </div>
      </div>
    </div>
{% endblock %}