{% extends 'base.html' %}
{% block title %}Vazifa - Tahrirlash{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    icon: "error",
                    title: "Xatolik!",
                    text: "{{ message }}",
                });
            </script>
        {% endfor %}
    {% endif %}

    <div style="opacity: 85%" class="container mt-5">
      <div class="card">
        <div class="card-body ">
            <h2>Vazifani tahrirlash</h2>
         </div>
        <div class="card-body ">
            <form id="editTodoForm" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="todoTitle" class="form-label">Vazifa nomi</label>
                    <input type="text" class="form-control" id="todoTitle" name="body" value="{{ todo.body }}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Takrorlanish Kunlari:</label>
                    <div id="repeatDaysContainer">
                        {% for day in week_days %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="repeat_days[]" value="{{ day }}" id="day_{{ day }}"
                                    {% if day in repeat_days %}
                                       checked
                                    {% endif %}>
                                <label class="form-check-label" for="day_{{ day }}">{{ day }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <button class="btn btn-warning me-2" type="submit" id="button-addon2">
                    Taxrirlash
                </button>
            </form>
        </div>
      </div>

      <a href="{% url 'to_do' %}" class="btn btn-primary mt-3 ms-3">
          <i class="bi bi-backspace"></i> Ortga
      </a>
    </div>



{% endblock %}