{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Bugungi Vazifalar {% endblock %}

{% block background_image %}
    background-image: url('https://i.pinimg.com/originals/0c/1c/8f/0c1c8ff41ac0ddb2cd36bdf6a49bbc11.jpg');
{% endblock %}

{% block content %}
    <div style="opacity: 85%" class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Bugungi Vazifalaringiz Ro'yxati</h4>
        </div>
        <div class="card-body">
            {% if todos %}
                <h5>Kunlik rejalaringizni bajaring va o'zingizni baxtiyor his eting!</h5>
            {% endif %}
          <ul id="todo-list" class="list-group list-group-numbered mt-5">
            {% for todo in todos %}
              {% if todo.status %}

                <li class="text-muted list-group-item list-group-item-success d-flex justify-content-between align-items-start">

                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <del class="text-success-emphasis">{{ todo.body }}</del>
                    </div>
                    {{ todo.created_at|date:'d.m.Y H:i' }}
                  </div>

                    <div class="d-flex flex-wrap gap-2">
                        <!-- Katta ekranda ko‘rinadigan tugmalar -->
                        <a href="{% url 'todo_detail' todo.id %}" class="btn btn-info d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Batafsil">
                          <i class="bi bi-search"></i>
                        </a>

                        <form action="{% url 'edit' todo.id 'not_done' %}" method="post">
                        {% csrf_token %}
                            <button style="background-color: #d63384; color: white;" class="btn d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Bajarilmadi">
                              <i class="bi bi-x-circle"></i>
                            </button>
                        </form>

                        <!-- Telefon ekranda ko‘rinadigan dropdown -->
                        <div class="dropdown d-sm-none">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a style="color: #0dcaf0;" href="{% url 'todo_detail' todo.id %}" class="dropdown-item">
                                        Batafsil
                                    </a>
                                </li>
                                <li>
                                    <form action="{% url 'edit' todo.id 'not_done' %}" method="post">
                                    {% csrf_token %}
                                        <button style="color: #d63384;" class="dropdown-item">
                                          Bajarilmadi
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
              {% elif todo.status == False %}
                <li class="text-muted list-group-item list-group-item-danger d-flex justify-content-between align-items-start">

                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <del style="color: #ff007d;">{{ todo.body }}</del>
                    </div>
                    {{ todo.created_at|date:'d.m.Y H:i' }}
                  </div>

                    <div class="d-flex flex-wrap gap-2">
                        <!-- Katta ekranda ko‘rinadigan tugmalar -->
                        <a href="{% url 'todo_detail' todo.id %}" class="btn btn-info d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Batafsil">
                          <i class="bi bi-search"></i>
                        </a>

                        <form action="{% url 'action' todo.id 'done' %}" method="post">
                        {% csrf_token %}
                            <button class="btn btn-success d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Bajarildi">
                                <i class="bi bi-check-all"></i>
                            </button>
                        </form>

                        <!-- Telefon ekranda ko‘rinadigan dropdown -->
                        <div class="dropdown d-sm-none">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a style="color: #0dcaf0;" href="{% url 'todo_detail' todo.id %}" class="dropdown-item">
                                        Batafsil
                                    </a>
                                </li>
                                <li>
                                <form action="{% url 'action' todo.id 'done' %}" method="post">
                                {% csrf_token %}
                                    <button style="color: #00ff0b;" class="dropdown-item">
                                        Bajarildi
                                    </button>
                                </form>
                            </li>
                            </ul>
                        </div>
                    </div>
                </li>

              {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-start">

                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        {{ todo.body }}
                    </div>
                    {{ todo.created_at|date:'d.m.Y H:i' }}
                  </div>

                  <div class="d-flex flex-wrap gap-2">
                    <!-- Katta ekranda ko‘rinadigan tugmalar -->
                    <a href="{% url 'todo_detail' todo.id %}" class="btn btn-info d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Batafsil">
                        <i class="bi bi-search"></i>
                    </a>
                    <form action="{% url 'action' todo.id 'done' %}" method="post">
                    {% csrf_token %}
                        <button class="btn btn-success d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Bajarildi">
                            <i class="bi bi-check-all"></i>
                        </button>
                    </form>
                    <form action="{% url 'edit' todo.id 'not_done' %}" method="post">
                    {% csrf_token %}
                        <button style="background-color: #d63384; color: white;" class="btn d-none d-sm-inline-block mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Bajarilmadi">
                          <i class="bi bi-x-circle"></i>
                        </button>
                    </form>

                    <!-- Telefon ekranda ko‘rinadigan dropdown -->
                    <div class="dropdown d-sm-none">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a style="color: #0dcaf0;" href="{% url 'todo_detail' todo.id %}" class="dropdown-item">
                                    Batafsil
                                </a>
                            </li>
                            <li>
                                <form action="{% url 'action' todo.id 'done' %}" method="post">
                                {% csrf_token %}
                                    <button style="color: #00ff0b;" class="dropdown-item">
                                        Bajarildi
                                    </button>
                                </form>
                            </li>
                            <li>
                                <form action="{% url 'edit' todo.id 'not_done' %}" method="post">
                                {% csrf_token %}
                                    <button style="color: #d63384;" class="dropdown-item">
                                      Bajarilmadi
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                  </div>

                </li>
              {% endif %}

            {% empty %}
              <p class="form-label text-center fs-4 text-warning">
                  Ayni vaqtda vazifalar ro'yxati bo'sh
              </p>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% if not todos %}
        <div class="text-center mt-3">
            <!-- From Uiverse.io by mi-series -->
            <div>
                <a href="{% url 'create' %}">
                    <button class="btn2">
                        <i class="animation"></i>
                            Vazifa yaratish
                        <i class="animation"></i>
                    </button>
                </a>
            </div>
        </div>

    {% endif %}


{% endblock %}